<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>With a proven track record in developing complex systems for electric vehicles, battle robots, and target-tracking mechanisms, I am eager to contribute my skills in programming, circuit design, and system optimization to a dynamic team focused on cutting-edge robotics solutions. Seeking an internship where I can leverage my experience in
embedded systems, PCB design, and robotics hardware integration.</p>
      </div>
      <div class="col-lg-4">
        <p>In the workshop, I love woodworking and 3d-Printing. Outside of the workshop, you'll find me on a skateboard or behind a camera. </p>
      </div>
    </div>
  </div>
</section>
