<!-- About Section -->
<section id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Resume</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
         <embed class="pdf" 
               src=
"https://kevinsniu.github.io/resources/Kevin%20Niu%20Resume%209.4.24.pdf"
            width="800" height="1600">
       
      </div>
    </div>
  </div>
</section>
